[submodule "liblinear"]
	path = liblinear
	url = https://github.com/cjlin1/liblinear.git
[submodule "libsvm"]
	path = libsvm
	url = https://github.com/cjlin1/libsvm.git
[submodule "libmf"]
	path = libmf
	url = https://github.com/cjlin1/libmf.git
[submodule "facets"]
	path = facets
	url = https://github.com/PAIR-code/facets.git
[submodule "phraug2"]
	path = phraug2
	url = https://github.com/JimmyLin192/phraug2.git
[submodule "phraug"]
	path = phraug
	url = https://github.com/JimmyLin192/phraug.git
[submodule "incubator-airflow"]
	path = incubator-airflow
	url = https://github.com/apache/incubator-airflow.git
